*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
}
:root{
--color-accent: #524a44;
--color-hove-underline: #f70d1a;
--color-background: color-mix(in lch, lightblue 80%, purple);
--color-text: #274b81;
}
body{
    background-color: var(--color-background) !important;
}
h1{
    margin: auto;
    text-align: center;
    margin-top: 3rem !important;
    color: lightgreen !important;
}